DAWG-Python
0.7.2

Pillow
7.2.0

PyDAQmx
1.4.3

PyQt5
5.15.1

PyQt5-sip
12.8.1

PyqtTools
0.1

altgraph
0.17

certifi
2020.6.20

click
7.1.2

cycler
0.10.0

docopt
0.6.2

et-xmlfile
1.0.1

future
0.18.2

jdcal
1.4.1

kiwisolver
1.2.0

matplotlib
3.3.2

neo
0.6.1

numpy
1.19.2

openpyxl
3.0.5

pefile
2019.4.18

pip
20.1.1

pydub
0.24.1

pyinstaller
4.0

pyinstaller-hooks-contrib
2020.10

pymorphy2
0.8

pymorphy2-dicts
2.4.393442.3710985

pyparsing
2.4.7

pyqt5-tools
5.15.1.1.7.3

pyqtgraph
0.11.0

python-dateutil
2.8.1

python-dotenv
0.14.0

pywin32-ctypes
0.2.0

quantities
0.12.4

scipy
1.5.2

setuptools
47.1.0

six
1.15.0

xlrd
1.2.0

